
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<table>
    <thead>
      <tr>
        <td colspan="7" class="title-row">
          <span class="table-title">Manage users</span>
          <button class="add-user-button">
            <i class="material-icons">add </i> Add new user
          </button>
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Delete</th>
        <th>Edit </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td> 
          <i class="material-icons" (click)="deleteUser(user)">delete</i>
        </td>
        <td> 
          <i class="material-icons" (click)="updateUser(user)">edit</i>
        </td>



      </tr>
    </tbody>
  </table>
  